In [1]:
# Import Pandas
import pandas as pd
pd.read_csv('dataset\\2016-12-31-to-2023-11-06-btc-usd.csv')

In [9]:
# Show all data
price_close = pd.read_csv('dataset\\2016-12-31-to-2023-11-06-btc-usd.csv', index_col='Date', parse_dates=['Date'], usecols=['Date','Close'])

price_close

                   Close
Date
2017-01-01    998.325012
2017-01-02   1021.750000
2017-01-03   1043.839966
2017-01-04   1154.729980
2017-01-05   1013.380005
...                  ...
2023-11-03  34732.324219
2023-11-04  35082.195313
2023-11-05  35049.355469
2023-11-06  35037.371094
2023-11-07  34776.996094

[2502 rows x 1 columns]

In [10]:
price_close.head()

                  Close
Date
2017-01-01   998.325012
2017-01-02  1021.750000
2017-01-03  1043.839966
2017-01-04  1154.729980
2017-01-05  1013.380005

In [11]:
price_close.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2502 entries, 2017-01-01 to 2023-11-07
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   2502 non-null   float64
dtypes: float64(1)
memory usage: 39.1 KB